<!DOCTYPE html>
<html lang="en">
<head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 50px;
    }
    label {
        display: inline-block;
        width: 100px;
        margin-bottom: 10px;
    }
    input {
        margin-bottom: 10px;
        padding: 5px;
    }
    button {
        margin-top: 10px;
    }
    
</style>
    <title>Blocs Login</title>

</head>
<body>
    <!-- Check if user is logged in using session variable -->
    {% if not session.get('user_email') %}
    <h1 style="text-align:center;">Blocs Login</h1>
    <!-- If an error message exists the display it to user -->
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    
    <!-- Login Form that sends user details to Flask server -->
    <form action="/" method="POST">
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" required autocomplete="off">
        <br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required autocomplete="off">
        <br>
        <!-- Submit Button -->
        <button style="font-size:15px; width: 90px; height: 30px;" type="submit">Next</button>
        <!-- Link to registration page for new users -->
        <p>New user? <a href="{{ url_for('register') }}">Register here</a></p>

    </form>
    {% else %}
    <!-- if user is logged in then display welcome message -->
    <h1>Welcome, {{ session['user_email'] }}!</h1>               
    <form action="{{ url_for('new_game') }}" method="POST">
    <!-- Dropdown to select game difficulty -->
    <select style="font-size:15px; width: 100px; height: 35px;" name="difficulty" required>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>
    <br>
    <button style="font-size:15px; width: 100px; height: 35px;" type="submit">Start Game</button>
    </form>
    <br>
    <!-- Logout Form to end current session -->
    <form action="/logout" method="POST">
        <button style=" font-size:15px; width: 90px; height: 30px;"  type="submit">Logout</button>
    </form>
    {%endif%}
</body>
</html>