<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
    </head>
    <body>
        {% if not session.get('user_email') %}
        <h1>Login</h1>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        <form action="/" method="POST">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" required autocomplete="off">
            <br>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required autocomplete="off">
            <br>
            <button type="submit">Next</button>
            <p>New user?<a href="{{ url_for('register') }}">Register here</a></p>

        </form>
        {% else %}
        <h1>Welcome back, {{ session['user_email'] }}!</h1>                {#what happens when the button is pressed#}
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
        {%endif%}

</body>
</html>